/* ===== COLOURS ===== */

/* #323A45 / #848484  */

/* ===== BASIC ===== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ===== FONTS ===== */

@font-face {
  font-family: Karla;
  src: url(./assets/fonts/Karla-Regular.ttf);
}

/* ===== HEADER ===== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

h1 {
  text-transform: uppercase;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
  letter-spacing: 2px;
  font-size: medium;
}
